@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

.mentorList h1 {
  text-align: center;
  font-size: 3.5em;
}

.allMentorsHeading {
  text-align: center;
  font-size: 3.5em;
}

.mentorCard {
  /* border: 3px solid blue; */
  padding: 2em;
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  border-radius: 1rem;
  --tw-border-opacity: 1;
  border: 3px solid rgb(229 231 235 / var(--tw-border-opacity));
  max-width: 800px;
  margin: 2em auto;
  -webkit-box-shadow: 3px 3px 10px -4px rgba(110, 110, 110, 1);
  -moz-box-shadow: 3px 3px 10px -4px rgba(110, 110, 110, 1);
  box-shadow: 3px 3px 10px -4px rgba(110, 110, 110, 1);
  color: black;
  transition: ease 0.3s all;
}

.mentorCard:hover {
  color: black;
  -webkit-box-shadow: 5px 5px 13px -4px rgba(110, 110, 110, 1);
  -moz-box-shadow: 5px 5px 13px -4px rgba(110, 110, 110, 1);
  box-shadow: 5px 5px 13px -4px rgba(110, 110, 110, 1);
  transition: ease 0.3s all;
}

.profileLeft {
  margin: auto;
  padding: 1em;
}

.profilePic {
  width: 9em;
  height: 9em;
  margin: 1em 2em;
  border-radius: 50%;
}

.socials {
  margin-top: 15px;
  justify-content: center;
  text-align: center;
}

.cardTextArea h3 {
  font-size: x-large;
  margin-bottom: 0;
}

.cardTextArea {
  margin: 0em 4em;
}

.jobtitle {
  display: inline;
  margin-top: 0;
  margin-bottom: 4em;
  font-weight: 600;
}

.skills {
  display: flex;
  padding: auto;
  margin: 1em auto;
  justify-content: left;
}

.skill {
  margin-right: 1em;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 0.3em 0.8em;
}

.profileRight p {
  margin: 0;
}

.profileRight .location {
  margin-top: 1.4em;
}

.profileRight .bio {
  margin-top: 1em;
}
#button {
  justify-content: space-between;
}
.button {
  display: flex;
}
.ImgContainer {
  object-fit: cover;
  height: 200px;
  width: 200px;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;

  border-width: 6px;
}
.body {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(2, 27, 38) 100%);

}

.centerH1 {
  font-size: 3.5em;
  justify-content: center;
  text-align: center;
}