.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact {
  font-family: "Nunito";
  padding-left: 10rem;

  color: #333;
  padding-bottom: 20px;
  padding-top: 10px;
  margin: 80px auto;
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
}
.textarea {
  resize: none;
}
.contactImg {
  margin-left: 170px;
}
