/* .container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

/* .navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}
.navbar a{
  display: inline;
  list-style: none;
  float: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block; 
} */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

.headerTitle {
  color: #333;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2.5em;
  font-family: "Nunito";
  font-weight: 625;
  margin-top: 1em;
}

.title {
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-size: 2.3em;
  font-weight: 700;
  font-family: "Nunito";
}

.text {
  color: #777;
}

.homeContainer {
  padding: 3rem;
  /* width: 1080px;
  height: 560px; */
  margin: auto;
  border-radius: 45px;
}

.mentor_btn {
  display: flex;
  width: 180px;
  padding: 11px 93px;
  margin-right: 50px;
  background: #4979ff;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-family: "Nunito";
  font-weight: bolder;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  transform: scale(0.9);
  transition: 0.3s ease-in-out transform;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
}

.mentor_btn:hover {
  transform: scale(1);
  background: #01a32ae1;
}

.mentee_btn {
  display: flex;
  width: 180px;
  padding: 11px 93px;
  margin: auto;
  background: #4979ff;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-family: "Nunito";
  font-weight: bolder;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  transform: scale(0.9);
  transition: 0.3s ease-in-out transform;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
}

.mentee_btn:hover {
  transform: scale(1);
  background: #01a32ae1;
}

.homeButtonWrap {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.about {
  color: #333;
  padding-bottom: 20px;
  padding-top: 40px;
  margin: 350px auto;
  text-align: center;
  background-color: rgb(250, 250, 250);
}

.logoutbtn {
  /* border-radius: 15px;
  font-family: "Nunito";
  text-decoration: none;
  background-color: rgba(11, 241, 153, 0.623);
  margin-left: 12px;
  color: white;
  border-color: white;
  box-shadow: white; */
}

/* .card {
  display: grid; 
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr / 1fr 1fr 1fr;
justify-content: space-around;
} */

.aboutDescription {
  font-size: 2em;
  margin: 100px;
}

.heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 48px;
  color: var(--textColor1);
  font-size: 45px;
  font-weight: 700;
  line-height: 140%;
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: rows;
  row-gap: 50px;
  margin: 8rem;
  align-items: center;
}

.stepCard {
  padding: 4px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 2rem;
}

.stepContent {
  margin: 1rem;
}

.abouttitle {
  color: var(--textColor1);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  margin-top: 1rem;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutpara {
  color: var(--textColor5);
  font-size: 16px;
  line-height: 160%;
  display: block;
  text-align: justify;
  padding-bottom: 0.5rem;
}
