.UpdateMentorProfileFormContainer {
  text-align: center;
}

.UpdateMentorProfileForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 3px solid black; */
  text-align: left;
  padding: 3em;
  width: 60%;
  margin: 2em auto;
  border-radius: 8px;
  justify-items: center;
  background-color: #247ba0;
}

.UpdateMentorProfileForm .firstname,
.UpdateMentorProfileForm .surname,
.UpdateMentorProfileForm .email,
.UpdateMentorProfileForm .jobtitle,
.UpdateMentorProfileForm .company,
.UpdateMentorProfileForm .location {
  grid-column-start: 1;
  grid-column-end: 2;
}

.UpdateMentorProfileForm .biography,
.UpdateMentorProfileForm .tagline,
.UpdateMentorProfileForm .skills,
.UpdateMentorProfileForm .socials {
  grid-column-start: 2;
  grid-column-end: 3;
}

.UpdateMentorProfileForm .biography {
  grid-row-start: 1;
  grid-row-end: 4;
}

.UpdateMentorProfileForm textArea {
  border: 1px solid gray;
  height: 14em;
  width: 20em;
  border-radius: 6px;
  resize: none;
  display: block;
  margin-top: 0.5em;
}
.UpdateMentorProfileForm .tagline {
  grid-row-start: 4;
  /* padding-top: 2em; */
}
.UpdateMentorProfileForm .skills {
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: left;
  align-self: center;
  width: 20em;
  /* padding: 1em 0em;
  margin-top: 1em; */
}

.UpdateMentorProfileForm input[type="text"] {
  display: block;
  border-radius: 6px;
  margin: 0.5em 0em 1em;
  width: 20em;
  border: 1px solid gray;
  padding: 0.5em 2em;
}

.UpdateMentorProfileForm label {
  font-weight: 600;
  color: white;
}

.UpdateMentorProfileForm .socialType {
  margin: auto;
  width: 20em;
}
.dropdown {
  border: 1px solid gray;
  border-radius: 6px;
  width: 20em;
  margin-top: 0.5em;
}

.submitButton {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 50%;
  background-color: #70c1b3;
  color: white;
  margin: 2em auto;
  border-radius: 6px;
  padding: 1em;
  font-weight: 600;
  font-size: 1.2em;
  transition: ease 0.3s all;
}

.submitButton:hover {
  transform: scale(1.1);
  transition: ease 0.3s all;
  -webkit-box-shadow: 5px 5px 13px -4px rgb(34, 33, 33);
  -moz-box-shadow: 5px 5px 13px -4px rgba(34, 33, 33, 1);
  box-shadow: 5px 5px 13px -4px rgba(34, 33, 33, 1);
}
.checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 0.3em;
}

.checkboxes label {
  font-weight: 400;
  padding: 0.1em;
}
