.UpdateMentorProfileFormContainer {
  text-align: center;
}

.UpdateMentorProfileForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid black;
  text-align: left;
  padding: 1em;
}

.UpdateMentorProfileForm .firstname,
.UpdateMentorProfileForm .surname,
.UpdateMentorProfileForm .email,
.UpdateMentorProfileForm .jobtitle,
.UpdateMentorProfileForm .company,
.UpdateMentorProfileForm .location {
  grid-column-start: 1;
  grid-column-end: 2;
}

.UpdateMentorProfileForm .biography,
.UpdateMentorProfileForm .tagline,
.UpdateMentorProfileForm .skills,
.UpdateMentorProfileForm .socials {
  grid-column-start: 2;
  grid-column-end: 3;
}

.UpdateMentorProfileForm .biography {
  grid-row-start: 1;
}
.UpdateMentorProfileForm .tagline {
  grid-row-start: 3;
}
.UpdateMentorProfileForm .skills {
  grid-row-start: 4;
  grid-row-end: 6;
}

.UpdateMentorProfileForm .socials {
  grid-row-start: 7;
  grid-row-end: 8;
}

.UpdateMentorProfileForm input[type="text"] {
  display: block;
  border-radius: 20px;
  margin: 0 0em 1em;
  width: 20em;
}

.dropdown {
  margin-left: 1em;
}

.submitButton {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 50%;
  background-color: green;
  color: white;
  margin: 2em auto;
  border-radius: 20px;
  padding: 1em;
}

.checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.biography {
  display: grid;
}
.biotext {
  resize: none;
  height: 100px;
  width: 350px;
}
